
@import 'tailwindcss';

@layer base {
  /* Modern CSS Reset */
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth; /* ✅ Smooth scroll */
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6,
  p, figure, blockquote, ul, ol, i {
    margin: 0 !important;
    padding: 0 !important;
  }

  ul, ol {
    list-style: none;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit !important;;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}


/* Custom nav animations */
.nav-link {
  position: relative;
  padding-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #E31E24;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #E31E24;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
